// bower:scss
// endbower

@import 'fonts.scss';

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1024px;
}

#top {
  // height: 1084px;
  background: url('/images/section-top-bg.png');
  background-size: cover;
}